@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: AlexBrush;
    src: url("Fonts/AlexBrush-Regular.ttf");
}

div{
	border: solid 1px #000000;
	padding: 20px;
	margin-bottom: 20px;
	
}

#Renlei {
	position: fixed;
    
	
	
}

#stats {
	background-color: white;
	width: 550px;
	height: 500px;
    margin-left: 400px;
	
}

h1 {
	font-family: AlexBrush;
}
body {
    background: url('images/super_tengen_toppa_gurren_lagann_by_sergeantassassin-d4i44mc.png') no-repeat fixed center;
    background-size: 100% 100%;
    
}

