body {
    height: 10000px; /* make the body of the page really tall so we can scroll down really far */
    margin: 0;
}

#night-sky {
    height: 100%; /* make this div take up the whole body */
    background: /*  <img id="bat1" src="http://s3-ec.buzzfed.com/static/enhanced/web03/2012/9/21/15/anigif_enhanced-buzz-4328-1348255448-3.gif"> */
    overflow: hidden; /* anything that does not fit inside the div will be hidden */
}
img {
    position: absolute;
}

#bat1 {
    padding-top: 500px;  /* start the bat out lower down */
    padding-left: 800px; /* and way out to the right */
}
