body {
    height: 1500px; /* make the body of the page really tall so we can scroll down really far */
    margin: 0;
}

.spin-me {
  transition: all 0.5s;
}
  .spin-me.spinning {
    transform:rotate(360000000000deg);
  
  }
#night-sky {
    height: 100%; /* make this div take up the whole body */
    background: rgb(33, 3, 86); /* dark purple background */
    overflow: hidden; /* anything that does not fit inside the div will be hidden */
}
img {
    position: absolute;
}

#bat1 {
    padding-top: 500px;  /* start the bat out lower down */
    padding-left: 800px; /* and way out to the right */
    z-index: 50;
    border: 10px solid red ;
}
#bat2 {
    padding-top: 500px;  /* start the bat out lower down */
    padding-left: 700px; /* and way out to the right */
    z-index:45;
   border: 9px solid orange;   
}
#bat3 {
    padding-top: 500px;  /* start the bat out lower down */
    padding-left: 600px; /* and way out to the right */
    z-index:40;
    border: 8px solid yellow;
}
#bat4 {
    padding-top: 500px;  /* start the bat out lower down */
    padding-left: 500px; /* and way out to the right */
    z-index:35;
    border: 7px solid green;
}
#bat5 {
    padding-top: 500px;  /* start the bat out lower down */
    padding-left: 400px; /* and way out to the right */
    z-index:30;
  border: 6px solid blue;
}
#bat6 {
    padding-top: 500px;  /* start the bat out lower down */
    padding-left: 300px; /* and way out to the right */
    z-index:25;
  border: 5px solid purple;
}
#bat7 {
    padding-top: 500px;  /* start the bat out lower down */
    padding-left: 200px; /* and way out to the right */
    z-index:20;
  border: 4px solid black;
}
